---
import { Image } from "astro:assets";
import Layouts from "../../layouts/Layouts.astro";
const { api } = Astro.props;
---

<Layouts title="produk">
  <div
    class="grid md:grid-cols-5 sm:grid-cols-3 grid-cols-2 gap-4 bg-[#E5E5E5] pb-10 pt-10"
  >
    {
      api.map((products) => {
        return (
          <div class="card  shadow-xl py-10  w-auto h-[600px] bg-[#496b63]">
            <figure>
              <Image
                src={products.image}
                alt={products.title}
<<<<<<< HEAD

                width={10}
                height={10}
                class="h-50 w-24 rounded"

=======
                width={80}
                height={80}
<<<<<<< HEAD
                class="h-56 w-52 rounded-md"
=======
                class="h-56 w-52"
>>>>>>> 96ac730d234bbd15c3e16a11967d58f896e9a862
>>>>>>> bda4b0e7dd25a0b2f3d20a038db82f24cce45f1e
              />
            </figure>
            <div class="card-body">
              <h2 class="card-title font-bold text-stone-700">
                {products.title}
              </h2>
              <p class="text-lg text-stone-700 font-block">
                $ {products.price}
              </p>

              <div class="card-actions justify-end">
                <a href={`/produk`}>
                  <button class="btn btn-primary">detail</button>
                </a>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</Layouts>
