---
import { ViewTransitions } from 'astro:transitions';
---
<html>
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>regiter</title>
	</head>
    <body>
        <ViewTransitions/>
       <div class="flex justify-center items-center h-auto bg-slate-900">
        <div class="w-auto p-6 bg-zinc-100 rounded-md shadow-lg">
            <h1 class=" text-black text-4xl font-bold my-3">ayo daftar sekarang</h1>
           
            <div class="py-2  mx-7">
                <input type="text" placeholder="Nama" class="input input-bordered w-full max-w-xs" />

            </div>
            <div class="py-2 mx-7">
                <input type="text" placeholder="No Handphone" class="input input-bordered w-full max-w-xs" />

            </div>
            <div class="py-2 mx-7">
                <input type="email" placeholder="Email" class="input input-bordered w-full max-w-xs" />

            </div>
            <div class="py-2 mx-7">
                <input type="password" placeholder="Email" class="input input-bordered w-full max-w-xs" />

            </div>
            <div class="text-center">

                <a href="/"><button class="w-full btn btn-neutral  bg-red-600 ">login</button></a>
            </div>
            <div class="w-96 h-5 justify-center py-3 items-center gap-9 inline-flex">
                <div class="w-20 h-px border border-black border-opacity-50"></div>
                <div class="text-black text-opacity-50 text-lg font-normal font-['Roboto']">sudah punya akun?</div>
                <div class="w-20 h-px border border-black border-opacity-50"></div>
            </div>
            <div class="text-center py-5">

                <a href="/"><button class="w-full btn btn-neutral  bg-red-600 ">regiter</button></a>
            </div>
        </div>
       </div>
    </body>
</html>
