---
import { Image } from "astro:assets";
const { api } = Astro.props;
---

<div class="flex mx-20">
  {
    api.map((image, i) => {
      return (
        <div key={i}>
          <Image
            src={api.image}
            alt={api.name}
            width="100"
            height="110"
            class="rounded-[10px] border border-black  ml-5"
          />
        </div>
      );
    })
  }
</div>;
