---
import Foot from "../../components/header/Foot.astro";
import Nav from "../../components/header/Nav.astro";
import Layouts from "../../layouts/Layouts.astro";
import Input from "../../components/input.astro";
---

<Layouts title="delete Products">
  <Nav />
  <div class="flex justify-center items-center h-screen bg-[#E5E5E5]">
    <div class="w-96 p-6 bg-zinc-100 rounded-md shadow-lg">
      <h1 class="text-black text-4xl font-bold">daftarkan product</h1>
      <div class="py-3">
        <Input placeholder="name" type="text" />
      </div>
      <div class="py-3">
        <textarea class="textarea max-w-full" placeholder="deskripsi"></textarea>
      </div>
      <div class="py-3">
        <Input type="file"/>
      </div>
      <div class="py-3">
        <Input type="number" placeholder="price"/>
      </div>
      <div class="py-3">
        <Input type="number" placeholder="quantity"/>
      </div>
      <div class="text-center">
        <a href="/dasbord"
          ><button class="w-full btn btn-neutral bg-red-600">login</button></a
        >
      </div>
     
    </div>
  </div>
  <Foot />
</Layouts>
