---
import ProductList from "../../components/ProductList/ProductList.astro";
import Layouts from "../../layouts/Layouts.astro";
import { getApiResponse } from "../../libs/api-libs";
const product = await getApiResponse("products", "limit=10");
---

<Layouts title="produk">
  <div class="h-auto">
    <h1>produk</h1>
    <ProductList api={product} />
  </div>
</Layouts>
